/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#undef ZMK_BEHAVIORS_KEEP_ALL

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NUM_L 1
#define SYM_L 2
#define NAV_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp MINUS  &kp Y      &kp O       &kp U          &kp Q         &kp Z            &kp L          &kp D       &kp W      &kp UNDER
                &hm LGUI C &hm LALT I &hm LSHFT E &hm LCTRL A    &hm GLOBE G   &hm GLOBE P      &hm RCTRL H    &hm RSHFT T &hm RALT S &hm RGUI N
                &kp BSPC   &kp X      &kp J       &kp K          &kp B         &kp V            &kp R          &kp M       &kp F      &kp TAB
                                              &kp SPACE          &mo NUM_L     &mo SYM_L        &kp ENTER
            >;
        };

        num_layer {
            bindings = <
                &kp N1     &kp N2     &kp N3      &kp N4          &kp N5        &kp N6          &kp N7         &kp N8      &kp N9     &kp N0
        &hm LGUI MINUS &hm LALT ESC &hm LSHFT GRAVE &hm LCTRL SQT &kp COMMA     &kp PERIOD &hm RCTRL DQT &hm RSHFT HASH &hm RALT DOLLAR &hm RGUI AT
                &kp BSPC   &trans     &trans      &kp QMARK       &kp SPACE     &kp ENTER       &kp EXCL       &trans      &trans     &kp TAB
                                                  &trans          &trans        &mo NAV_L       &kp ENTER
            >;
        };

        sym_layer {
            bindings = <
                &kp PIPE   &kp EQUAL   &kp TILDE   &kp PLUS       &kp LT        &kp GT          &kp CARET      &kp AMPS    &kp PRCNT  &kp ASTRK
        &hm LGUI BSLH  &hm LALT LBKT  &hm LSHFT LBRC  &hm LCTRL LPAR &kp SEMI  &kp COLON       &hm RCTRL RPAR &hm RSHFT RBRC &hm RALT RBKT &hm RGUI SLASH
                &kp BSPC   &trans      &kp DOWN    &kp UP         &kp SPACE     &kp ENTER       &kp LEFT       &kp RIGHT    &trans     &trans
                                                   &kp SPACE      &mo NAV_L     &trans          &trans
            >;
        };

        nav_layer {
            bindings = <
                &kp F1     &kp F2     &kp F3      &kp F4          &kp F5       &kp F6           &kp F7         &kp F8      &kp F9     &kp F10
       &hm LGUI LANG1 &hm LALT ESC &hm LSHFT C_RW &hm LCTRL C_PREV &kp C_STOP &kp C_PLAY &hm RCTRL C_NEXT &hm RSHFT C_FF &hm RALT CAPS &hm RGUI LANG2
                &kp F11    &trans     &kp PG_DN   &kp PG_UP       &kp C_VOL_DN &kp C_VOL_UP     &kp HOME       &kp END     &trans     &kp F12
                                                  &bt BT_CLR      &trans       &trans           &bt BT_NXT
            >;
        };

    };
};
